
.container{
    border: 2px solid black;
    width: 50%;
    margin: 230px auto;
    padding: 200px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: none;
    margin-bottom: auto;
}
body{
    background-color: royalblue;
}
.center{
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 50%;

}
.container h1{
    text-align: center;
    color: royalblue;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
.btn{
    border: 2px solid black;
    padding: 2px 5px;
    background-color: skyblue;
    border-radius: 10px;
    border: none;
    color: white;
    text-decoration: none;

}
.btn:hover{
    background-color: royalblue;
}